<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}">RECETAS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/search}">Buscar</a>
                    </li>
                </ul>
                <div sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="btn btn-outline-success d-flex">Login</a>
                </div>
                <div sec:authorize="isAuthenticated()" class="d-flex gap-3">
                    <div>Bienvenido, <span sec:authentication="name"></span>!</div>
                    <form th:action="@{/logout}" method="post" class="d-flex">
                        <input class="btn btn-outline-danger" type="submit" value="Logout"/>
                    </form>
                </div>
                
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Buscar Recetas</h2>
        
        <div class="form-group mb-4">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar recetas...">
        </div>
    
        <div id="recipeList" class="row"></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        const recipes = [
            {
                title: "Pastel de Pistacho",
                description: "Este pastel se volvió viral gracias a su rico sabor a pistacho.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Bistec de Verano con Maíz",
                description: "Un plato perfecto para las noches de verano.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Guisantes Asados con Limón",
                description: "Un aperitivo ligero y lleno de sabor.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Ensalada de Quinoa",
                description: "Una ensalada fresca y nutritiva con quinoa, verduras y un aderezo ligero.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Sopa de Tomate",
                description: "Una sopa cremosa y reconfortante, perfecta para cualquier ocasión.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Tacos de Pescado",
                description: "Deliciosos tacos de pescado con repollo fresco y salsa de aguacate.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Galletas de Chocolate",
                description: "Galletas suaves y masticables cargadas de trozos de chocolate.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Pasta Alfredo",
                description: "Pasta cubierta con una salsa cremosa de queso parmesano y mantequilla.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Pollo al Limón",
                description: "Pollo marinado en limón y hierbas, luego asado hasta que esté dorado.",
                img: "https://placehold.co/300x200"
            },
            {
                title: "Brownies de Chocolate",
                description: "Brownies ricos y fudgy, perfectos para los amantes del chocolate.",
                img: "https://placehold.co/300x200"
            }
        ];

        const searchInput = document.getElementById('searchInput');
        const recipeList = document.getElementById('recipeList');

        search("")

        searchInput.addEventListener('input', function() {
            search(this.value)
        });

        function search(value) {
            const searchValue = value.toLowerCase();
            recipeList.innerHTML = '';

            const filteredRecipes = recipes.filter(recipe => 
                recipe.title.toLowerCase().includes(searchValue) ||
                recipe.description.toLowerCase().includes(searchValue)
            );

            filteredRecipes.forEach(recipe => {
                const recipeCard = document.createElement('div');
                recipeCard.classList.add('col-md-4');
                recipeCard.innerHTML = `
                    <div class="card">
                        <img src="${recipe.img}" class="card-img-top" alt="${recipe.title}">
                        <div class="card-body">
                            <h5 class="card-title">${recipe.title}</h5>
                            <p class="card-text">${recipe.description}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="/detalle-receta" class="btn btn-primary">Ver Receta</a>
                        </div>
                    </div>
                `;
                recipeList.appendChild(recipeCard);
            });

            if (filteredRecipes.length === 0) {
                recipeList.innerHTML = '<p class="text-center">No se encontraron recetas.</p>';
            }
        }

    </script>
</body>
</html>